<link rel="stylesheet" href="/assets/css/add_project_form.css" />

<section class="" id="project-feed">
  <form class="" action="/project/create" id="new-project-form" method="post">
    <input
      type="text"
      name="projectName"
      placeholder="enter the project name"
    />
    <textarea
      name="description"
      id=""
      cols="30"
      rows="10"
      placeholder="enter the project description"
    ></textarea>
    <input type="text" name="author" placeholder="Author" />

    <input type="submit" id="addBtn" value="Post" />
  </form>

  <!-- you are not signed in -->
  <h1>you are not signed in</h1>
</section>
