<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />

    <link rel="stylesheet" href="/assets/css/project.css" />
    <link rel="stylesheet" href="/assets/css/create-issue.css" />
    <title>Random Title</title>
  </head>
  <body>
    <div class="header">
      <header>
        <div class="nav">
          <ul class="links">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact us</a>
            </li>
            <li>
              <a href="/users/sign-out">Sign Out</a>
            </li>
            <li><a href="/users/sign-in">sign-in</a></li>
            <li><a href="/users/sign-up">sign-up</a></li>
            <li>
              <img class="logo" src="/assets/images/logo.png" />
            </li>
            <li><a href="">Issue tracker</a></li>
          </ul>
        </div>
      </header>
    </div>
    <div class="project">
      <div class="data container">
        <p class="title">Project:</p>
        <p>projectName</p>
        <p class="title">Author:</p>
        <p>authorName</p>
        <p>Issue</p>
        <p>
          <small class="title">Project Description</small>open projects
          despcription
        </p>
      </div>
    </div>
    <h1>Issues</h1>
    <div class="accordian container">
      <div id="flip"><i class="fa-solid fa-plus">Create Issue</i></div>
      <div id="panel">
        <!-- create issue form -->
        <div class="main">
          <form action="/project/createIssue" method="post">
            <input type="text" placeholder="Title" name="title" />
            <textarea
              name="description"
              id=""
              placeholder="Description"
              cols="30"
              rows="10"
            ></textarea>

            <label for="labels" class="col-sm-4 col-form-label"
              >Add Labels</label
            >

            <div class="select">
              <input
                class="form-check-input"
                name="labels"
                type="checkbox"
                value="Bug"
                id="bug"
              />
              <input type="hidden" name="project" value="" />
              <label class="form-check-label" for="bug"> Bug </label
              ><br /><input
                name="labels"
                class="form-check-input"
                type="checkbox"
                value="UI Improvement"
                id="ui-improvement"
              />
              <label class="form-check-label" for="ui-improvement">
                UI Improvement </label
              ><br /><input
                name="labels"
                class="form-check-input"
                type="checkbox"
                value="Documentation"
                id="documentation"
              />
              <label class="form-check-label" for="documentation">
                Documentation </label
              ><br /><input
                name="labels"
                class="form-check-input"
                type="checkbox"
                value="Enhancement"
                id="enhancement"
              />
              <label class="form-check-label" for="enhancement">
                Enhancement </label
              ><br /><input
                name="labels"
                class="form-check-input"
                type="checkbox"
                value="Duplicate"
                id="duplicate"
              />
              <label class="form-check-label" for="duplicate">
                Duplicate
              </label>
            </div>
            <div class="lst">
              <input type="text" name="author" placeholder="Author" />
              <input type="submit" id="isbtn" value="create issue" />
            </div>

            <p>%= open_projects._id %</p>
          </form>
        </div>
        <div class="container filter-box">
          <div>
            <input
              type="text"
              id="myInput"
              onkeyup="myFunction()"
              placeholder="filter issues"
              title="filter issues"
            />
          </div>

          <div>
            <form>
              <label
                ><input type="checkbox" name="fl-colour" id="Bug" /> Bug</label
              ><br />
              <label
                ><input type="checkbox" name="fl-colour" id="UI Improvement" />
                UI Improvement</label
              ><br />
              <label
                ><input type="checkbox" name="fl-colour" id="Documentation" />
                Documentation</label
              ><br />
              <label
                ><input type="checkbox" name="fl-colour" id="Enhancement" />
                Enhancement</label
              ><br />
              <label
                ><input type="checkbox" name="fl-colour" id="Duplicate" />
                Duplicate</label
              ><br />
            </form>
          </div>
        </div>
      </div>
      <section id="UL" class="container">
        <ul class="issues-list">
          <li style="display: flex">
            <span>Title:</span>
            <p>title</p>
          </li>
          <li style="display: flex">
            <span>Description:</span>
            <p class="description">description</p>
          </li>
          <li style="display: flex">
            <span>Author:</span>
            <p>author</p>
          </li>
          <li class="labels" style="display: flex">
            <span>labels:</span>
            <p id="lab" data-category="">description</p>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
