body {
  font-family: "Righteous", cursive;
  font-family: "Shantell Sans", cursive;
}
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(196, 233, 233);
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.head {
  display: flex;
  flex-direction: row;
  background-color: rgb(207, 247, 207);
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side {
  border: 2px solid black;
  width: 10%;
}
.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.project-div {
  border: 1px solid black;
  width: 40%;
  background-color: rgb(206, 217, 206);
  display: flex;
  flex-direction: column;
  height: max-content;
}
.project-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del {
  margin-right: 20px;
}
.del a {
  text-decoration: none;
}

.data {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  font-size: 1.3rem;
}

.data p a {
  text-decoration: none;
  font-size: 1rem;
}

.data p {
  font-size: 1rem;
  margin-left: 2%;
  width: 30%;
}

#flip {
  padding: 5px;
  text-align: center;
  border: solid 1px black;
}

#panel {
  padding: 50px;
  display: none;
}

.accordion {
  border: 2px solid black;
  width: 50%;
  align-self: center;
}

.c {
  height: min-content;
}
